.btn
    display: inline-block

    &.round 
        font-size: $font-size-base
        border-radius: 50px
        border: none
        display: flex
        align-items: center
        justify-content: space-between
        padding: 12px 20px
        background-color: red
        
        &:hover

        &:active