header
    display: flex
    align-items: center
    justify-content: flex-start

    &.home
        background-color: $color-a


        img
            width: 30px
            height: 30px
            opacity: 0.4
            transform: rotateZ(-25deg)

        .title
            font-size: 18px
            color: $color-d
            margin-left: 20px
