[pokecolor]:not(progress)
    color: $color-d

    &[pokecolor="default"]
        background-color: $color-b !important
    
    &[pokecolor="bug"], &[pokecolor="grassland"]
        background-color: rgba($pokecolor-bug, $pokecolor-opacity) !important
        
    &[pokecolor="dark"], &[pokecolor="indeterminate"], &[pokecolor="black"]
        background-color: rgba($pokecolor-dark, $pokecolor-opacity) !important
        
    &[pokecolor="dragon"]
        background-color: rgba($pokecolor-dragon, $pokecolor-opacity) !important
        
    &[pokecolor="electric"], &[pokecolor="yellow"]
        background-color: rgba($pokecolor-electric, $pokecolor-opacity) !important
        
    &[pokecolor="fairy"]
        background-color: rgba($pokecolor-fairy, $pokecolor-opacity) !important
        
    &[pokecolor="fighting"], &[pokecolor="mountain"]
        background-color: rgba($pokecolor-fighting, $pokecolor-opacity) !important
        
    &[pokecolor="fire"], &[pokecolor="red"]
        background-color: rgba($pokecolor-fire, $pokecolor-opacity) !important
        
    &[pokecolor="flying"]
        background-color: rgba($pokecolor-flying, $pokecolor-opacity) !important
        
    &[pokecolor="ghost"], &[pokecolor="monster"], &[pokecolor="rare"]
        background-color: rgba($pokecolor-ghost, $pokecolor-opacity) !important
        
    &[pokecolor="grass"], &[pokecolor="plant"], &[pokecolor="green"], &[pokecolor="forest"]
        background-color: rgba($pokecolor-grass, $pokecolor-opacity) !important
        
    &[pokecolor="ground"], &[pokecolor="brown"], &[pokecolor="cave"]
        background-color: rgba($pokecolor-ground, $pokecolor-opacity) !important
        
    &[pokecolor="ice"], &[pokecolor="waters-edge"], &[pokecolor="water2"]
        background-color: rgba($pokecolor-ice, $pokecolor-opacity) !important
        
    &[pokecolor="normal"], &[pokecolor="humanshape"], &[pokecolor="rough-terrain"]
        background-color: rgba($pokecolor-normal, $pokecolor-opacity) !important
        
    &[pokecolor="poison"], &[pokecolor="purple"]
        background-color: rgba($pokecolor-poison, $pokecolor-opacity) !important
        
    &[pokecolor="psychic"], &[pokecolor="ditto"], &[pokecolor="pink"]
        background-color: rgba($pokecolor-psychic, $pokecolor-opacity) !important
        
    &[pokecolor="rock"], &[pokecolor="no-eggs"]
        background-color: rgba($pokecolor-rock, $pokecolor-opacity) !important
        
    &[pokecolor="steel"], , &[pokecolor="mineral"], &[pokecolor="gray"], &[pokecolor="urban"]
        background-color: rgba($pokecolor-steel, $pokecolor-opacity) !important
        
    &[pokecolor="water"], &[pokecolor="water1"], &[pokecolor="water3"], &[pokecolor="blue"], &[pokecolor="sea"]
        background-color: rgba($pokecolor-water, $pokecolor-opacity) !important
    
    &[pokecolor="white"]
        background-color: rgba($color-c, $pokecolor-opacity) !important