[pokecolor]
    color: $color-d

    &[pokecolor="default"]
        background-color: $color-b !important
    
    &[pokecolor="bug"]
        background-color: rgba($pokecolor-bug, $pokecolor-opacity) !important
        
    &[pokecolor="dark"], &[pokecolor="indeterminate"]
        background-color: rgba($pokecolor-dark, $pokecolor-opacity) !important
        
    &[pokecolor="dragon"]
        background-color: rgba($pokecolor-dragon, $pokecolor-opacity) !important
        
    &[pokecolor="electric"]
        background-color: rgba($pokecolor-electric, $pokecolor-opacity) !important
        
    &[pokecolor="fairy"]
        background-color: rgba($pokecolor-fairy, $pokecolor-opacity) !important
        
    &[pokecolor="fighting"]
        background-color: rgba($pokecolor-fighting, $pokecolor-opacity) !important
        
    &[pokecolor="fire"]
        background-color: rgba($pokecolor-fire, $pokecolor-opacity) !important
        
    &[pokecolor="flying"]
        background-color: rgba($pokecolor-flying, $pokecolor-opacity) !important
        
    &[pokecolor="ghost"], &[pokecolor="monster"]
        background-color: rgba($pokecolor-ghost, $pokecolor-opacity) !important
        
    &[pokecolor="grass"], &[pokecolor="plant"]
        background-color: rgba($pokecolor-grass, $pokecolor-opacity) !important
        
    &[pokecolor="ground"]
        background-color: rgba($pokecolor-ground, $pokecolor-opacity) !important
        
    &[pokecolor="ice"], &[pokecolor="no-eggs"]
        background-color: rgba($pokecolor-ice, $pokecolor-opacity) !important
        
    &[pokecolor="normal"], &[pokecolor="humanshape"]
        background-color: rgba($pokecolor-normal, $pokecolor-opacity) !important
        
    &[pokecolor="poison"]
        background-color: rgba($pokecolor-poison, $pokecolor-opacity) !important
        
    &[pokecolor="psychic"], &[pokecolor="ditto"]
        background-color: rgba($pokecolor-psychic, $pokecolor-opacity) !important
        
    &[pokecolor="rock"]
        background-color: rgba($pokecolor-rock, $pokecolor-opacity) !important
        
    &[pokecolor="steel"], , &[pokecolor="mineral"]
        background-color: rgba($pokecolor-steel, $pokecolor-opacity) !important
        
    &[pokecolor="water"], &[pokecolor="water1"], &[pokecolor="water2"], &[pokecolor="water3"]
        background-color: rgba($pokecolor-water, $pokecolor-opacity) !important
        