html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5EDDC;
  font-family: "Baloo 2", cursive;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 16px;
}
p.small {
  font-size: 14px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #EB1D36;
}

.regular-width {
  width: calc(100% - 20px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

h1, h2, h3, h4, h5, h6, .title {
  color: #F5EDDC;
  font-weight: bold;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.btn {
  display: inline-block;
  transition-duration: 0.5s;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
}
.btn:not(.no-box-shadow) {
  box-shadow: 5px 5px 17px -6px rgba(0, 0, 0, 0.6);
}
.btn:not(.no-box-shadow):hover {
  box-shadow: 5px 5px 17px -6px rgb(0, 0, 0);
}
.btn:not(.no-box-shadow):active {
  box-shadow: inset 5px 5px 28px 1px rgba(0, 0, 0, 0.29);
}
.btn:not(.no-box-shadow)[disabled], .btn:not(.no-box-shadow).disabled {
  box-shadow: none;
}
.btn.arrow {
  justify-content: center;
  background: none;
  background-color: #F5EDDC;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn.arrow img {
  width: 15px;
}
.btn.round {
  font-size: 16px;
  border-radius: 30px;
  justify-content: space-between;
  padding: 12px 20px;
  width: 100%;
  text-transform: capitalize;
  font-weight: bold;
  margin: 8px 0;
}
.btn.round img.regular {
  width: 25px;
  height: 25px;
  filter: invert(100%);
  opacity: 0.5;
}
.btn.round:hover.animate {
  padding-left: 40px;
}
.btn.pokemon-details {
  font-size: 20px;
  opacity: 0.6;
  transition-duration: 0.5s;
  position: relative;
  box-shadow: 0px -6px 15px -4px rgba(0, 0, 0, 0.15) inset;
}
.btn.pokemon-details.active {
  opacity: 1;
}
.btn.pokemon-details:hover {
  font-size: 22px;
}
.btn.pokemon-details span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[pokecolor]:not(progress) {
  color: #F5EDDC;
}
[pokecolor]:not(progress)[pokecolor=default] {
  background-color: #496870 !important;
}
[pokecolor]:not(progress)[pokecolor=bug], [pokecolor]:not(progress)[pokecolor=grassland] {
  background-color: rgba(28, 75, 39, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=dark], [pokecolor]:not(progress)[pokecolor=indeterminate], [pokecolor]:not(progress)[pokecolor=black] {
  background-color: rgba(4, 7, 6, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=dragon] {
  background-color: rgba(68, 139, 149, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=electric], [pokecolor]:not(progress)[pokecolor=yellow] {
  background-color: rgba(204, 204, 37, 0.5) !important;
  color: black;
}
[pokecolor]:not(progress)[pokecolor=fairy] {
  background-color: rgba(234, 19, 105, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=fighting], [pokecolor]:not(progress)[pokecolor=mountain] {
  background-color: rgba(153, 64, 37, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=fire], [pokecolor]:not(progress)[pokecolor=red] {
  background-color: rgba(171, 31, 35, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=flying] {
  background-color: rgba(74, 103, 125, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=ghost], [pokecolor]:not(progress)[pokecolor=monster], [pokecolor]:not(progress)[pokecolor=rare] {
  background-color: rgba(51, 51, 107, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=grass], [pokecolor]:not(progress)[pokecolor=plant], [pokecolor]:not(progress)[pokecolor=green], [pokecolor]:not(progress)[pokecolor=forest] {
  background-color: rgba(17, 123, 58, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=ground], [pokecolor]:not(progress)[pokecolor=brown], [pokecolor]:not(progress)[pokecolor=cave] {
  background-color: rgba(169, 112, 44, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=ice], [pokecolor]:not(progress)[pokecolor=waters-edge], [pokecolor]:not(progress)[pokecolor=water2] {
  background-color: rgba(134, 210, 245, 0.5) !important;
  color: black;
}
[pokecolor]:not(progress)[pokecolor=normal], [pokecolor]:not(progress)[pokecolor=humanshape], [pokecolor]:not(progress)[pokecolor=rough-terrain] {
  background-color: rgba(117, 81, 91, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=poison], [pokecolor]:not(progress)[pokecolor=purple] {
  background-color: rgba(94, 45, 136, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=psychic], [pokecolor]:not(progress)[pokecolor=ditto], [pokecolor]:not(progress)[pokecolor=pink] {
  background-color: rgba(164, 42, 108, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=rock], [pokecolor]:not(progress)[pokecolor=no-eggs] {
  background-color: rgba(72, 24, 11, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=steel], [pokecolor]:not(progress)[pokecolor=mineral], [pokecolor]:not(progress)[pokecolor=gray], [pokecolor]:not(progress)[pokecolor=urban] {
  background-color: rgba(95, 117, 109, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=water], [pokecolor]:not(progress)[pokecolor=water1], [pokecolor]:not(progress)[pokecolor=water3], [pokecolor]:not(progress)[pokecolor=blue], [pokecolor]:not(progress)[pokecolor=sea] {
  background-color: rgba(21, 82, 226, 0.5) !important;
}
[pokecolor]:not(progress)[pokecolor=white] {
  background-color: rgba(207, 210, 207, 0.5) !important;
}

header.home {
  background-color: #EB1D36;
  padding: 10px 0;
}
header.home .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.4;
}
header.home .content img {
  width: 30px;
  height: 30px;
  transform: rotateZ(-25deg);
}
header.home .content .title {
  font-size: 20px;
  color: #F5EDDC;
  margin: 0;
  margin-left: 20px;
}

main section.top-bar {
  background-color: #EB1D36;
}
main label {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
main label img {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
}
main label input {
  padding: 12px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
}
main label input[type=search] {
  width: 100%;
  padding-left: 50px;
  padding-right: 20px;
  background-color: #F5EDDC;
}
main label input[type=button].btn.round {
  width: 60%;
  background-color: #CFD2CF;
  margin-top: 15px;
  text-align: center;
  display: block;
}
main section.top-bar {
  padding-bottom: 20px;
}
main section.top-bar .content .return {
  background: none;
  border: none;
  height: 25px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  height: 60px;
  cursor: pointer;
}
main section.top-bar .content .return img {
  width: auto;
  height: 25px;
}
main section.top-bar .content .return .section-title {
  display: inline-block;
  font-size: 24px;
  line-height: auto;
  color: #F5EDDC;
  text-transform: capitalize;
  margin: 0;
  margin-left: 30px;
}
main section.top-bar .content .return .section-title span {
  margin-left: 10px;
  text-transform: capitalize;
}
main section.top-bar .content .return .section-title.upper span:last-child {
  text-transform: uppercase;
}
main.home section.top-bar {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.home section.top-bar .bg-img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.home section.top-bar .bg-img-wrapper .bg-img {
  opacity: 0.05;
  width: 90%;
  height: auto;
}
main.home section.top-bar .content {
  position: relative;
  z-index: 1;
  padding-top: 120px;
  padding-bottom: 160px;
}
main.home section.top-bar .content .title {
  font-size: 32px;
  line-height: 37px;
  color: #F5EDDC;
}

main.home section.category-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
main.home section.category-buttons .separator {
  position: absolute;
  top: -63px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
main.home section.category-buttons .separator svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}
main.home section.category-buttons .separator .shape-fill {
  fill: #F5EDDC;
}
@media (max-width: 767px) {
  main.home section.category-buttons .separator svg {
    width: calc(100% + 1.3px);
    height: 64px;
  }
}

section.results-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
section.results-grid.error {
  display: block;
}
section.results-grid h3 {
  width: 100%;
  height: auto;
  text-align: center;
  color: #496870;
}
section.results-grid .kaomoji {
  font-size: 80px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
section.results-grid .card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  cursor: pointer;
}
section.results-grid .card .pokemonCode {
  padding: 5px 15px;
  padding-right: 30px;
  border-radius: 5px;
  border-top-right-radius: 30px;
}
section.results-grid .card img {
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.paginator li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}
.paginator li:last-child img {
  transform: rotateZ(180deg);
}
.paginator li.page {
  padding-bottom: 20px;
}
.paginator li.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.filter-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 30px 0;
}
.filter-buttons button.button.btn.round {
  margin: 0;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.filter-buttons button.button.btn.round.generations {
  justify-content: center;
}
.filter-buttons button.button.btn.round .wrapper-img {
  width: 100px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.1;
  position: absolute;
  right: -30px;
  top: 0;
}
.filter-buttons button.button.btn.round .wrapper-img img {
  width: 100%;
  height: auto;
  filter: blur(1px);
}

.pokemon {
  position: relative;
  width: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: clip;
  padding: 0 15px;
  padding-bottom: 20px;
}
.pokemon .loading {
  width: 100%;
  margin: 80px auto;
}
.pokemon .background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.pokemon .background .top {
  height: 350px;
}
.pokemon .background .pokeball {
  width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  opacity: 0.2;
  transform: rotateZ(-25deg);
  filter: blur(2px);
}
.pokemon .background .separator {
  transform: rotateZ(180deg);
  margin-top: -60px;
  height: 60px;
}
.pokemon .background .separator svg {
  fill: #F5EDDC;
}
.pokemon .btn.arrow {
  position: absolute;
  top: 380px;
  padding: 0;
}
.pokemon .btn.arrow.next {
  right: 15px;
}
.pokemon .btn.arrow.next img {
  transform: rotateZ(180deg);
}
.pokemon .btn.arrow.back {
  left: 15px;
}
.pokemon .pokemon-name {
  background: none !important;
  text-align: center;
  font-size: 30px;
}
.pokemon .pokemon-name span.name {
  text-transform: capitalize;
  margin-right: 10px;
}
.pokemon .pokemon-name span.id {
  margin-left: 10px;
}
.pokemon .sprites {
  width: 100%;
  position: relative;
  z-index: -1;
}
.pokemon .sprites .main {
  width: 100%;
}
.pokemon .sprites .back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: -1;
  filter: blur(8px);
}
.pokemon .type-tag {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemon .type-tag span {
  padding: 5px 25px;
  margin: 0 auto;
  text-transform: capitalize;
  width: auto;
  border-radius: 50px;
  font-weight: bold;
}
.pokemon .details {
  margin-top: 30px;
}
.pokemon .details .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pokemon .details .buttons button {
  width: 33.33%;
  height: 40px;
}
.pokemon .details .buttons button span {
  line-height: 40px;
}
.pokemon .details .buttons button:nth-child(1) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.pokemon .details .buttons button:nth-child(3) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.pokemon .info.about .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.pokemon .info.about .grid p {
  margin: 5px 0;
}
.pokemon .info.about .grid p.header {
  font-weight: bold;
}
.pokemon .info.about .grid p.header.columns-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.pokemon .info.stats {
  margin-top: 30px;
}
.pokemon .info.stats .stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pokemon .info.stats p {
  width: 10%;
  margin: 0;
  text-transform: uppercase;
}
.pokemon .info.stats .bar {
  width: calc(80% - 30px);
  height: 30px;
  position: relative;
}
.pokemon .info.stats .bar .bar-inner, .pokemon .info.stats .bar .bar-bg {
  border-radius: 50px;
  height: 60%;
}
.pokemon .info.stats .bar .bar-inner {
  position: absolute;
  top: 0;
  left: 0;
}
.pokemon .info.stats .bar .bar-bg {
  background-color: #CFD2CF;
}
.pokemon .info.moves li {
  text-transform: capitalize;
}

/*# sourceMappingURL=styles.css.map */
